<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <!-- //css -->
    <script scr="script/jquery.min.js" ></script>
    <script scr="script/script.js"></script>

    <!-- //script -->
</head>
<body>
    <div id="wrap">
        <aside id="aside">
            <h1 class="logo">
                <a href="#">서울구석구석</a>
            </h1>
            <nav class="nav">
                <ul>
                    <li><a href="#">지금의 서울</a>
                        <ul>
                            <li><a href="#">이벤트</a></li>
                            <li><a href="#">축제행사</a></li>
                            <li><a href="#">전시</a></li>
                        </ul>
                    </li>
                    <li><a href="#">추천</a>
                        <ul>
                            <li><a href="#">에디터 추천</a></li>
                            <li><a href="#">에디터 추천</a></li>
                            <li><a href="#">에디터 추천</a></li>
                            <li><a href="#">에디터 추천</a></li>
                        </ul>
                    </li>
                    <li><a href="#">여행지</a>
                        <ul>
                            <li><a href="#">명소</a></li>
                            <li><a href="#">명소</a></li>
                            <li><a href="#">명소</a></li>
                            <li><a href="#">명소</a></li>
                        </ul>
                    </li>
                    <li><a href="#">여행정보</a>
                        <ul>
                            <li><a href="#">여행정보</a></li>
                            <li><a href="#">여행정보</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </aside>
        <!-- //header -->

        <main id="main">
            <article class="slider">
                <div class="img"></div>
                <div class="banner"></div>
            </article>
        </main>
        <!-- //main -->

        <section id="contents">
            <div class="notice"></div>
            <div class="gallery"></div>
        </section>
        <!-- //section -->
        <footer id="footer">
            <div class="footer1"></div>
            <div class="footer2"></div>
            <div class="footer3"></div>
        </footer>
        <!-- //footer -->
    </div>
    <!-- //wrap -->
</body>
</html>