* {
    margin: 0;
    padding: 0;
}
a{
    color:#000;
    text-decoration: none;
}
li {
    list-style: none;
}
#header {
    padding: 40px;
    text-align: center;
    border-bottom: 1px dashed #073a1a;
}
#header h1 {
    font-size: 4vmax;
    padding: 0 40px 40px;
    color: rgb(5, 41, 26);
}
#header h1 a {
    text-decoration: none;
    color: #084426;
    font-family: "GmarketSans";
}
#header nav ul li {
    list-style: none;
    display: inline;
}
#header nav ul li a {
    display: inline-block;
    text-decoration: none;
    color:#043003;
    border: 1px solid #043003;
    padding: 10px 20px;
    margin-bottom: 5px;
    font-family: "nanumSquareNeo";
}
#header nav ul li.active a {
    background-color: #043003;
    color: #ffffff;
}
#header nav ul li a:hover {
    background-color: #043003;
    color: #ffffffc1;
}
#main {
    min-height: 500px;
}
#footer {
    padding: 40px;
    text-align: center;
    border-top: 1px dashed #5d7c5f;
}
#footer a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
#footer a:hover {
    text-decoration: underline;
    text-underline-position: under;
}

/*main__menu*/
.main__menu {
    padding: 40px;
    border-bottom: 1px dashed #84a39171;
}
.main__menu ul {
    margin-bottom: 10px;
}
.main__menu ul li a {
    font-family: nanumSquareNeo;
    line-height: 1.8;
    color: rgb(7, 56, 22);
}
.main__menu ul li a:hover {
    text-decoration: underline;
    text-underline-position: under;
    color: rgb(101, 135, 108);
}
.main__menu ul li a strong {
    position: relative;
    padding: 0 4px;
}
.main__menu ul li a strong::before {
    content: '';
    width: 100%;
    height: 50%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #58746f3a;
    transition: all 0.3s;
    border-radius: 30px;
}
.main__menu ul li a:hover strong::before {
    height: 100%;
}

/* main__sample */
.main__sample {
    padding: 40px;
}
.main__sample .sample {
    margin-bottom: 100px;
}
.main__sample .sample h3 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
    font-family: "GmarketSans";
    line-height: 1.4;
}
.main__sample .sample p {
    color:rgb(0, 0, 0);
    margin-bottom: 10px;
    line-height: 1.5;
    font-weight: 500;
    font-family: "nanumSquareNeo";
}
.main__sample .sample .desc {
    background-color: #bfdbca;
    padding: 13px 10px 13px 20px;
    border-left: 5px solid rgb(15, 40, 27);
    margin-bottom: 10px;
    font-family: "nanumSquareNeo";
    line-height: 1.5;
    font-weight: 500;
}
.main__sample .sample .result {
    font-family: "nanumSquareNeo";
}
.main__sample .sample .result summary {
    margin-bottom: 10px;
    cursor: pointer;
}
.main__desc {
    padding: 40px;
    font-family: "nanumSquareNeo";
}
.main__desc > div {
    margin-bottom: 100px;
}
.main__desc h2 {
    font-family: "GmarketSans";
    font-weight: 300;
    margin-bottom: 20px;
    line-height: 1.5;
}
.main__desc p {
    background-color: #d8e7d0;
    padding: 20px;
    border-left: 5px solid #869c7b;
    margin-bottom: 10px;
}
.main__desc ul {
    margin-bottom: 30px;
}
.main__desc li {
    line-height: 1.6;
    position: relative;
    padding-left: 10px;
}
.main__desc li::before {
    content:'';
    width: 4px;
    height: 4px;
    background-color: #072516;
    position: absolute;
    left: 0;
    top: 10px;
}
.main__desc a {
    display: block;
    padding: 15px 20px;
    background-color: #869c7b;
    border: 1px dashed #869c7b;
    text-align: center;
    font-size: 20px;
    color: #043003;
}
.main__desc a:hover {
    background-color: #072516;
    color: #b9c4ab;
}

/* table */
.table table {
    width: 100%;
    border-top: 1px solid #6d6a6a;
    border: 1px solid #dcdcdc;
    margin-bottom: 50px;
    font-family: "nanumSquareNeo";
    text-align: center;
    border-spacing: 0;
}
.table table caption {
    text-align: left;
    margin-bottom: 10px;
    font-weight: 600;
}
.table table tr th {
    border-bottom:  1px solid #6d6a6a;
    border-right: 1px solid #084426;
    padding: 10px;
    background-color: #b9c4ab;
}
.table table tr td {
    border-bottom:  1px solid #6d6a6a;
    border-right: 1px solid #084426;
    padding: 10px;
}
.table table tr th:last-child {
    border-right: 0;
}
.table table tr td:last-child {
    border-right: 0;
}
.table table tr td .left {
    text-align: left;
}

@media (max-width:800px) {
    .main__menu {
        padding: 20px;
    }
    .main__sample {
        padding: 20px;
    }
    .main__desc {
        padding: 20px;
    }
}
