<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
     
    </style>
</head>
<body>
    <div id="wrap">
        <header id="header"></header>
        <nav class="nav"></nav>
        <main id="main">
            <article id="slider"><
                slid/article>
            <section id="content"></section>
        </main>
        <div id="footer"></div>
    </div>
</body>
</html>