#wrap {
    width: 100%;
    height: 100vh;
}
#wrap.bg01 {
    /* background-image: url(../img/img5-min.jpg); */
    background-size: cover;
    background-color: #000;
    background-position: center center;
}

.icon__menu {
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon__menu img {
    width: 80px;
    height: 80px;
}
.icon__menu a {
    border: 5px solid #ffffff4d;
    border-radius: 50%;
    transition: all 0.3s;
}
.icon__menu a:hover {
    border-color: #ffffffb2;
}


/* musicWrap */
#musicWrap {
    position: absolute;
    right: 50px;
    top: 50px;
    font-family: 'Poppins';
}
.music__inner {
    width: 350px;
    height: 600px;
    background: #3838387c;
    backdrop-filter: blur(30px);
    border-radius: 30px;
    box-shadow: 5px 5px 10px 0 #313030;
}
.music__header h2 {
    color: #fff;
    text-align: center;
    padding: 20px;
    font-weight: 300;
}
.music__view {
    width: 350px;
    height: 300px;
}
.music__view__box {
    border-radius: 10px;
    margin: 0 auto;
    width: 300px;
    height: 300px;
    padding: 10px;
    background-image: url(../img/music_img.png);
    position: relative;
    box-shadow: 5px 5px 10px 0 #3b3838;
}
.play_music {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    color: #fff;
    
}
.music__list .click_list {
    position: absolute;
    left: 27px;
    bottom: 15px;
    width: 300px;
    height: 100px;
    background-color: #ffffff33;
    border-radius: 5px;
    align-items: center;
    padding: 10px;
    overflow: scroll;
    overflow-x: hidden
}
.click_list::-webkit-scrollbar {
    width: 8px;
    height: 35px;
    background-color: #857f7f;
}
.click_list::-webkit-scrollbar-thumb {
    background-color: #252525a9; /* 스크롤 바의 색상 */
  }
  .click_list::-webkit-scrollbar-thumb:hover {
    background-color: #494948; /* 스크롤 바의 색상 */
  }
.music__list .click_list h3 {
    margin-left: 20px;
    font-weight: 500;
    color: #fff;
    line-height: 1.5;
    position: relative;

}
.click_list img{
    width: 22px;
    height: 25px;
    background-color: #ffffff00;
    position: absolute;
    right: 165px;
    top: 8px;
}

.music__list .click_list p {
    font-size: 14px;
    text-align: center;
    font-weight: 200;
    color: #fff;

}
