/* reset */
* {
    margin: 0;
    padding: 0;
    font-family: 'Cafe24SsurroundAir';
    box-sizing: border-box;
    font-size: 16px;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #000;
}

body {
    background-image: url(../img/bg01-min.jpg);
    background-size: cover;
    background-position: center center;
    position: relative;
}
body::after {
    /* content: '';
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1; */
}
/* common */
.none {
    display: n;
}

/* header */
#header {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#header h1 {
    color: #fff;
    padding: 20px;
    font-size: 30px;
}
#header nav {
    padding-right: 20px;
}
#header nav li {
    display: inline-block;
}
#header nav li a {
    padding: 10px;
    display: inline-block;
    width: 35px;
    height: 35px;
    border: 1px solid #fff;
    text-align: center;
    box-shadow: 1px 1px 0px #fff;
    line-height: 1;
    color: #fff;
}
#header nav li.active a {
    background-color: #fff;
    color: #000;
}

/* main */
#main {
    min-height: 85vh;
}

/* quiz__wrap */
.quiz__wrap {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.quiz__wrap > .quiz {
    width: 500px;
    height: 700px;
    background-color: #fff;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
}
.quiz__header {
    margin-bottom: 20px;
}
.quiz__date {
    display: inline-block;
    margin-right: 5px;
    color: #696969;
}
.quiz__type {
    color: #696969;
}
.quiz__main {}
.quiz__question {
    margin-bottom: 20px;
}
.quiz__question em {
    font-size: 24px;
    font-style: normal;
}
.quiz__question span {
    font-size: 24px;
    line-height: 1.3;
}
.quiz__answer {
    background-color: #ede9ff;
    border: 1px solid #b8a8ff;
    padding: 20px;
    margin-bottom: 10px;
    line-height: 1.5;
}
.quiz__answer::before {
    content: " 정답 : ";
}


.quiz__desc {
    border: 1px solid #eaeaea;
    padding: 20px;
    margin-bottom: 10px;
    line-height: 1.5;
}
.quiz__desc::before {
    content: "설명: ";
}
.quiz__footer {}
.quiz__confirm {
    background-color: #412E91;
    color: #fff;
    text-align: center;
    padding: 20px;
    display: block;
    border: 0;
    width: 100%;
    transition: all 0.3s;
}

/* footer */
#footer {
    text-align: center;
    font-size: 14px;
}
#footer a {
    display: block;
    color: #fff;
    padding: 40px;
}
#footer a:hover {
    text-decoration: underline;
    text-underline-position: under;
}