<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>레이아웃</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="wrap">
        <header id="header">
            <h1 class="logo"></h1>
            <div class="nav"></div>
        </header>
        <!-- //header -->

        <article id="slider">

        </article>
        <!-- //slider -->

        <main id="main">
            <section class="contents1"></section>
            <section class="contents2"></section>
        </main>
        <!-- main -->
        <footer id="footer">
            <div class="footer1"></div>
            <div class="footer2"></div>
            <div class="footer3"></div>
        </footer>
         <!--//footer  -->
    </div>
</body>
</html>