

.join__inner {
    padding: 80px 0;
}
.join__inner h2 {
    font-size: 30px;
    text-align: center;
}
.join__index {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 80px;
}
.join__index ul {
    display: inline-block;
    position: relative;
}
.join__index ul::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: #2b1e15;
    position: absolute;
    left: 0;
    top: 50%;
    z-index: -1;
}
.join__index li {
    display: inline-block;
    width: 36px;
    height: 36px;
    line-height: 33px;
    border-radius: 50%;
    border: 2px solid  #2b1e15;
    font-family: var(--main-gmark);
    font-size: 18px;
    color: #2b1e15;
}
.join__index p {
    margin-top: 100px;
}
.join__index .container {
    align-items: center;
} 
.join__index svg {
    margin-top: 20px;
    width: 260px;
    height: 260px;
    align-items: center;
}
.join__index li:nth-child(2) {
    margin: 0 30px;
}
.join__index li.active {
    color: var(--white);
    background-color:  #2b1e15;
}
.join__form {
    padding: 10% 20%;
}
.join__form div {
    margin-bottom: 3rem;
}
.join__form.check {}
.join__form label {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 5px;
}
.join__form.check label {
    font-weight: 800px;
}
.join__form.check input {
    width: 68%;
}
.join__form.check input {
    width: 100%;
}
.join__form.check button {}

.agree__box {
    width: 834px;
    margin: 0 auto;
    margin-top: 50px;
}
.agree__box .scroll {
    padding: 20px 20px;
    background-color: #eeece6;
    padding: 30px 30px;
    font-size: 16px;
    white-space: pre-line;
    overflow-x: hidden;
    overflow-y: scroll;
    line-height: 1.5;
    height: 300px;
    
}
.agree__box .check {
    margin-top: 10px;
}
.agree__box .check label {
    position: relative;
    padding-left: 30px;
}
.agree__box .check input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.agree__box .check .indicator {
    position: absolute;
    top: -1px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #fff;
}
.agree__box .check .indicator::after {
    content: '';
    position: absolute;
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.agree__box .check input:checked ~ .indicator {
    background: #2aa1c0;
}
.agree__box .check input:checked ~ .indicator::after {
    display: block;
}
.join__form {
    padding: 80px 20%;
}
.join__form div {
    margin-bottom: 3em;
}
.join__form div label {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 5px;
}
.join__form .check {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.join__form .check label {
    width: 100%;
}
.join__form .check input {
    width: 68%;
}
.join__form .check .check__btn {
    width: 30%;
}
.join__form .check2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.join__form .check2 label {
    width: 100%;
}
#youAddress1 {
    width: 68%;
}
.join__form .check2 input {
    width: 100%;
    margin-bottom: 10px;
}
.join__form .check2 .check__btn {
    width: 30%;
    margin-bottom: 10px;
}

.join__form .check__msg {
    color: var(--red);
    padding-top: 5px;
}

@media(max-width: 800px){
    .join__form {
        padding: 10% 20px;
    }
}



/* airplan */
body {
    margin: 0;
    padding: 0;
  }
  #container {
    width: 200px;
    height: 200px;
    margin: 0px auto;
  }
  #st0 {
    fill: #ffffff;
    stroke: #000000;
    stroke-miterlimit: 10;
  }
  .cloud_b {
    animation: cloud 2800ms linear infinite;
  }
  .cloud_f {
    animation: cloud02 3000ms linear infinite;
  }
  .airplan {
    animation: airplan 2500ms linear infinite;
  }
  .bar {
    height: 4px;
    width: 100%;
    margin: 15px 0;
    position: relative;
    background-color: #eaeaea;
  }
  .bar:before {
    top: 0;
    left: 0;
    width: 0;
    content: "";
    height: inherit;
    position: absolute;
    background-color: #89b3ce;
    animation: bar 2500ms linear infinite;
  }

  @keyframes airplan {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(0, 15px);
    }
    100% {
      transform: translate(0, 0);
    }
  }
  @keyframes cloud {
    0% {
      opacity: 0;
      transform: translateX(0);
    }
    25% {
      opacity: 1;
      transform: translateX(-75px);
    }
    50% {
      transform: translateX(-150px);
    }
    100% {
      opacity: 0;
      transform: translateX(-300px);
    }
  }
  @keyframes cloud02 {
    0% {
      opacity: 0;
      transform: translateX(0);
    }
    25% {
      opacity: 1;
      transform: translateX(-75px);
    }
    50% {
      transform: translateX(-150px);
    }
    100% {
      opacity: 0;
      transform: translateX(-300px);
    }
  }
  @keyframes bar {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
  